@model Gallery
@{
    ViewData["Title"] = "Create";
}

<form method="post" enctype="multipart/form-data">
    <div>
        <label asp-for="Photo">Photo: </label> <br />
        <input asp-for="Photo" accept="image/*" />
        <span asp-validation-for="Photo"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

