@model Gallery
@{
    ViewData["Title"] = "Edit";
}

<form method="post" enctype="multipart/form-data">
    <div>
        <label asp-for="Image">Current Photo: </label> <br />
        <img src="~/assets/Image/Galerys/@Model.Image" alt="Alternate Text" style="width: 400px; height: 200px;" />
        <span asp-validation-for="Image"></span>
    </div>
    <div>
        <label asp-for="Photo">Change Photo: </label> <br />
        <input asp-for="Photo" accept="image/*" />
        <span asp-validation-for="Photo"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button> <br />
    <button type="submit" class="btn btn-primary" asp-action="Index">Back to List</button>
</form>

